{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1>What's all this about, anyway?</h1>
    <p>There's a word-puzzle game available on all mobile phone networks called <a href="https://play.google.com/store/apps/details?id=com.peoplefun.wordcross&hl=en_IE&gl=US">WordScapes</a>. It's got various offshoots, all under the same license, I think, but they're all in a format where there's a sort of crossword layout at the top of the screen and a circle of letters at the bottom. It's up to the players to fill in the blanks using the letters on the wheel.</p>
    <p>I get very frustrated when I get to the last word and can't work it out. I doubt I'm alone in this. Therefore, I thought I'd write an app to help me cheat, and share that app with the world. I don't think it's costing the games company anything, so my conscience is clear.</p>

    <h1>Is this any help at Wordle?</h1>
    <p>Not really. It can help you see permutations, but you can only play <a href="https://www.powerlanguage.co.uk/wordle/">Wordle</a> once a day. This app exists just to get your from one screen to another out of a virtually infinite number of screens. It's worthwhile to bend the rules a little to cross the bridge from one screen to another.</p>
    <p>Wordle has only one screen at a time. Once you solve it that's you done for twenty-four hours. If you're running your Wordle through this app you're really as well not to play Wordle at all.</p>
    
    <h1>Why isn't there a spellchecker?</h1>
    <p>Because I'm too cheap to pay for the storage a dictionary would take. Sorry.</p>

</div>
    {% endblock %}